## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### 之前做過的處理

In [2]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

# Create an anomalous flag column
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
# also apply to testing dataset
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# absolute the value of DAYS_BIRTH
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

In [3]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_ANOM
0,100002,1,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,1,0,1,0,False
1,100003,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,1,0,0,0,0,0,0,1,0,False
2,100004,0,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,False
3,100006,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,False
4,100007,0,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,False

In [4]:
app_train["EW_AMT_GOODS_PRICE"] = pd.cut(app_train["AMT_GOODS_PRICE"], 10)
app_train["EW_AMT_GOODS_PRICE"].value_counts()

(36490.5, 441450.0]       131712
(441450.0, 842400.0]      115261
(842400.0, 1243350.0]      43658
(1243350.0, 1644300.0]     12429
(1644300.0, 2045250.0]      3175
(2045250.0, 2446200.0]       933
(2446200.0, 2847150.0]        30
(2847150.0, 3248100.0]        17
(3649050.0, 4050000.0]        10
(3248100.0, 3649050.0]         8
Name: EW_AMT_GOODS_PRICE, dtype: int64

In [5]:
app_train["EF_AMT_GOODS_PRICE"] = pd.qcut(app_train["AMT_GOODS_PRICE"], [0, 0.25, 0.5, 0.75, 1.])
app_train["EF_AMT_GOODS_PRICE"].value_counts()

(40499.999, 238500.0]    79877
(238500.0, 450000.0]     78102
(679500.0, 4050000.0]    75534
(450000.0, 679500.0]     73720
Name: EF_AMT_GOODS_PRICE, dtype: int64

In [6]:
app_train["C_AMT_GOODS_PRICE"] = pd.cut(app_train["AMT_GOODS_PRICE"], [0, 100000, 300000, 500000, 700000])

In [7]:
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_ANOM,EW_AMT_GOODS_PRICE,EF_AMT_GOODS_PRICE,C_AMT_GOODS_PRICE
0,100002,1,0,0,1,0,202500.000,406597.5,24700.5,351000.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
1,100003,0,0,0,0,0,270000.000,1293502.5,35698.5,1129500.0,...,0,0,0,0,1,0,False,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
2,100004,0,1,1,1,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
3,100006,0,0,0,1,0,135000.000,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
4,100007,0,0,0,1,0,121500.000,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
5,100008,0,0,0,1,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(300000, 500000]"
6,100009,0,0,1,1,1,171000.000,1560726.0,41301.0,1395000.0,...,0,0,0,0,0,0,False,"(1243350.0, 1644300.0]","(679500.0, 4050000.0]",NaN
7,100010,0,0,1,1,0,360000.000,1530000.0,42075.0,1530000.0,...,0,0,0,0,0,0,False,"(1243350.0, 1644300.0]","(679500.0, 4050000.0]",NaN
8,100011,0,0,0,1,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0,0,0,0,True,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
9,100012,0,1,0,1,0,135000.000,405000.0,20250.0,405000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
10,100014,0,0,0,1,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
11,100015,0,0,0,1,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0,0,0,0,True,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
12,100016,0,0,0,1,0,67500.000,80865.0,5881.5,67500.0,...,0,0,0,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(0, 100000]"
13,100017,0,0,1,0,1,225000.000,918468.0,28966.5,697500.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(679500.0, 4050000.0]","(500000, 700000]"
14,100018,0,0,0,1,0,189000.000,773680.5,32778.0,679500.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
15,100019,0,0,1,1,0,157500.000,299772.0,20160.0,247500.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
16,100020,0,0,0,0,0,108000.000,509602.5,26149.5,387000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
17,100021,0,1,0,1,1,81000.000,270000.0,13500.0,270000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
18,100022,0,1,0,1,0,112500.000,157500.0,7875.0,157500.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
19,100023,0,0,0,1,1,90000.000,544491.0,17563.5,454500.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(300000, 500000]"
20,100024,0,1,1,1,0,135000.000,427500.0,21375.0,427500.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
21,100025,0,0,1,1,1,202500.000,1132573.5,37561.5,927000.0,...,0,0,0,0,0,0,False,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
22,100026,0,0,0,0,1,450000.000,497520.0,32521.5,450000.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(238500.0, 450000.0]","(300000, 500000]"
23,100027,0,0,0,1,0,83250.000,239850.0,23850.0,225000.0,...,0,0,0,0,1,0,True,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
24,100029,0,0,1,0,2,135000.000,247500.0,12703.5,247500.0,...,0,1,0,0,1,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
25,100030,0,0,0,1,0,90000.000,225000.0,11074.5,225000.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
26,100031,1,0,0,1,0,112500.000,979992.0,27076.5,702000.0,...,0,0,0,1,0,1,False,"(441450.0, 842400.0]","(679500.0, 4050000.0]",NaN
27,100032,0,0,0,1,1,112500.000,327024.0,23827.5,270000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
28,100033,0,0,1,1,0,270000.000,790830.0,57676.5,675000.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
29,100034,0,1,0,1,0,90000.000,180000.0,9000.0,180000.0,...,0,1,0,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,0,1,0,225000.000,297000.0,19975.5,297000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
307482,456226,0,0,1,1,0,225000.000,500566.5,34969.5,472500.0,...,0,0,0,0,1,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(300000, 500000]"
307483,456227,0,0,0,1,0,99000.000,247275.0,16479.0,225000.0,...,0,0,1,0,1,0,True,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307484,456228,0,0,1,0,0,540000.000,545040.0,35617.5,450000.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(238500.0, 450000.0]","(300000, 500000]"
307485,456229,0,1,0,1,1,270000.000,180000.0,9000.0,180000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307486,456230,0,0,1,1,1,292500.000,355536.0,18283.5,270000.0,...,0,1,0,0,1,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
307487,456231,0,0,0,1,0,117000.000,1071909.0,31473.0,936000.0,...,0,0,0,0,0,0,True,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
307488,456232,0,0,0,0,0,157500.000,135000.0,13351.5,135000.0,...,0,0,0,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307489,456233,1,0,0,1,0,225000.000,521280.0,23089.5,450000.0,...,0,0,1,0,0,1,False,"(441450.0, 842400.0]","(238500.0, 450000.0]","(300000, 500000]"
307490,456234,0,0,0,1,0,81000.000,135000.0,9148.5,135000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307491,456235,0,0,1,1,2,90000.000,1078200.0,31522.5,900000.0,...,0,0,0,0,0,0,False,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
307492,456236,0,0,1,1,0,585000.000,1575000.0,43443.0,1575000.0,...,0,0,0,0,0,0,False,"(1243350.0, 1644300.0]","(679500.0, 4050000.0]",NaN
307493,456237,0,0,0,1,0,135000.000,946764.0,37678.5,765000.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(679500.0, 4050000.0]",NaN
307494,456238,0,0,1,0,1,270000.000,479700.0,46858.5,450000.0,...,0,0,0,0,0,0,False,"(441450.0, 842400.0]","(238500.0, 450000.0]","(300000, 500000]"
307495,456239,0,0,1,0,0,180000.000,808650.0,23773.5,675000.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
307496,456240,0,1,0,0,0,360000.000,337500.0,16875.0,337500.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
307497,456241,0,0,1,1,0,180000.000,270126.0,12028.5,193500.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307498,456242,0,0,1,1,0,198000.000,1312110.0,52168.5,1125000.0,...,0,1,0,0,1,0,False,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
307499,456243,0,0,0,1,0,81000.000,225000.0,12694.5,225000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307500,456244,0,0,0,1,0,261000.000,1303812.0,35982.0,1138500.0,...,0,1,0,0,1,0,False,"(842400.0, 1243350.0]","(679500.0, 4050000.0]",NaN
307501,456245,0,0,0,1,3,81000.000,269550.0,11871.0,225000.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307502,456246,0,0,0,1,1,94500.000,225000.0,10620.0,225000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307503,456247,0,0,0,1,0,112500.000,345510.0,17770.5,247500.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(100000, 300000]"
307504,456248,0,0,0,1,0,153000.000,331920.0,16096.5,225000.0,...,0,0,0,0,0,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307505,456249,0,0,0,1,0,112500.000,225000.0,22050.0,225000.0,...,0,1,0,0,1,0,True,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307506,456251,0,0,0,0,0,157500.000,254700.0,27558.0,225000.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307507,456252,0,0,0,1,0,72000.000,269550.0,12001.5,225000.0,...,0,0,1,0,1,0,True,"(36490.5, 441450.0]","(40499.999, 238500.0]","(100000, 300000]"
307508,456253,0,0,0,1,0,153000.000,677664.0,29979.0,585000.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"
307509,456254,1,0,0,1,0,171000.000,370107.0,20205.0,319500.0,...,0,0,1,0,1,0,False,"(36490.5, 441450.0]","(238500.0, 450000.0]","(300000, 500000]"
307510,456255,0,0,0,0,0,157500.000,675000.0,49117.5,675000.0,...,0,1,0,0,1,0,False,"(441450.0, 842400.0]","(450000.0, 679500.0]","(500000, 700000]"